# Target directory
/target/

# Cargo lock file for libraries (include if it's a binary project)
/Cargo.lock

# IDE/editor-specific files
/.vscode/
/.idea/
/*.swp
/*.swo

# Operating system-specific files
.DS_Store
Thumbs.db

# Backup files
**/*.rs.bk

# Rust format cache
/.rustfmt.toml

# Environment files
.env
